[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cmna"]
	path = cmna
	url = https://github.com/k3jph/cmna-pkg
[submodule "phonics"]
	path = phonics
	url = https://github.com/k3jph/phonics-in-r
